
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a{
	color: #555555;
	text-decoration: none;
	padding: 8px;
}

li a:hover{
	text-decoration: underline;
}

.leftHeader{
	float: left;
}
.rightHeader{
	float:right;
}

input[type=text]{
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #f1f1f1;
	box-shadow: 0px 2px #d9d9d9;
	margin-top: 30px;
	margin-bottom: 20px;
	background-color: rgb(255,255,255);
	padding: 5px;

}
.buttons{
	text-align: center;

}
input[type=submit]{
	font-weight: bold; 
	width: 150px;
	padding: 5px;
	margin: 10px;
	border-radius: 2px;
	color:#757575
	background-color: #f1f1f1;
	border: 1px solid #f1f1f1;
	font-family: arial,sans-serif;

}
input[type=submit]:hover{ 
	color:0;
	border-color: #d1d1d1;
	font-weight: bolder;
	background-color: #fafafa;
}
.logo{
	margin-top:100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.Footer{
	position: fixed;
	width: 100%;
    bottom: 0;
}
.leftFooter{
	float: left;
}
.rightFooter{
	float:right;
}
